<!DOCTYPE html>
    <head>
        <title>Vue.js Pet Depot</title>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.3.1/css/all.min.css"/>
    </head>
    <body>
        <div id="app">
            <header>
                <h1 v-text="sitename"></h1>
                <button v-on:click="showCheckout">
                    {{ cartItemCount }}
                    <span class="fas fa-cart-plus"></span>Checkout
                </button>
            </header>
            <main>
                <div v-if="showProduct">
                    <figure>
                        <img v-bind:src="product.image">
                    </figure>
                    <h1 v-text="product.title"></h1>
                    <p v-html="product.description"></p>
                    <p> Price: {{ product.price }}</p>
                    <p>Available in stock: {{ product.availableInventory }}</p>
                    <button v-on:click="addToCart" v-if="canAddToCart">
                        Add to cart
                    </button> 

                    <button disabled="disable" v-else>
                        Add to cart
                    </button> 

                </div>
                <div v-else>
                    <h2>Checkout</h2>
                    <p>
                        <strong>First Name: </strong>
                        <input v-model.trim="order.firstName"/>
                    </p>
                    <p>
                        <strong>Last Name: </strong>
                        <input v-model="order.lastName"/>
                    </p>
                    <p>
                        <strong>Address: </strong>
                        <input v-model="order.address"/>
                    </p>
                    <p>
                        <strong>City: </strong>
                        <input v-model="order.city"/>
                    </p>
                    <p>
                        <strong>State: </strong>
                        <input v-model="order.state"/>
                        <select v-model="order.state" class="form-control">
                            <option disabled value="">State</option>
                            <option v-bind:value="states.AL">AL</option>
                            <option v-bind:value="states.AR">AR</option>
                            <option v-bind:value="states.CA">CA</option>
                            <option v-bind:value="states.NV">NV</option>
                        </select>
                    </p>
                    <p>
                        <strong>ZIP / Postal Code: </strong>
                        <input v-model.number="order.postalCode" type="number"/>
                    </p>
                    <p>
                        <input type="checkbox" id="gift" value="true" v-model="order.gift" v-bind:true-value="order.sendGift" v-bind:false-value="order.dontSendGift">
                        <label for="gift">Ship as Gift? </label>
                    </p>
                    <p>
                        <input type="radio" id="home" value="Home" v-model="order.method">
                        <label for="home">Home</label>
                    </p>
                    <p>
                        <input type="radio" id="business" value="Business" v-model="order.method">
                        <label for="business">Business</label>
                    </p>

                    <button v-on:click="submitForm">Place Order</button>

                    <h2>Order Information</h2>
                    <p>First Name: {{order.firstName}} </p>
                    <p>Last Name: {{order.lastName}} </p>
                    <p>Address: {{order.address}} </p>
                    <p>City: {{order.city}} </p>
                    <p>State: {{order.state}} </p>
                    <p>ZIP / Postal Code: {{order.postalCode}} </p>
                    <p>gift: {{order.gift}} </p>
                    <p>method: {{order.method}} </p>

                </div>
            </main>
        </div>

        </div>
        <script type="text/javascript">
            let webstore = new Vue({
                el: '#app',
                data: {
                    showProduct: true,
                    order: {
                        firstName: "",
                        lastName: "",
                        address: "",
                        city: "",
                        State: "",
                        postalCode: "",
                        method: "Home",
                        gift: false,
                        sendGift: "Send as a gift",
                        dontSendGift: "Do not send as a gift"
                    },
                    states: {
                        AL: "Alabama",
                        AR: "Arizona",
                        CA: "California",
                        NV: "Nevada"
                    },
                    sitename: 'Vue.js Pet Depot',
                    product: {
                        id: 1001,
                        title: "cat Food, 25 lb bag",
                        description: "A 25 pond bag of <em>irresistible</em>,"+"organic goodness for your cat",
                        price: 2000,
                        image: "images/cat.jpg",
                        availableInventory: 5
                    },
                    cart: []
                },
                methods: { //adds product to cart and registers id into array (cart)
                    addToCart: function() {
                        this.cart.push(this.product.id);
                    },
                    showCheckout() {
                        this.showProduct = this.showProduct ? false:true;
                    },
                    submitForm() {
                        {alert("order submitted!")};
                    }
                },
                computed: { //counts the number of items in array (cart)
                    cartItemCount: function() {
                        return this.cart.length ||"";
                    },
                    canAddToCart: function() {
                        return this.product.availableInventory > this.cartItemCount;
                    }
                }
            });
        </script>
    </body>
</html>